src/SimpleLogClient.Core/Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:LoggingConfig" elementFormDefault="qualified" targetNamespace="urn:LoggingConfig" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="loggerServiceSection" type="tns:SimpleLogClient.Core.Configuration.LoggerServiceSectionCT" />
	<xs:complexType name="SimpleLogClient.Core.Configuration.LoggerServiceSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="loggers" type="tns:SimpleLogClient.Core.Configuration.LoggersCollectionCT">
				<xs:annotation>
					<xs:documentation>The Loggers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="defaultLogger" type="tns:SimpleLogClient.Core.Configuration.DefaultLoggerElementCT">
				<xs:annotation>
					<xs:documentation>The DefaultLogger.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleLogClient.Core.Configuration.LoggerElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="tracelevel" type="tns:SimpleLogClient.Core.Configuration.TraceLevelElementCT">
				<xs:annotation>
					<xs:documentation>The tracelevel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logfilenameprefix" type="tns:SimpleLogClient.Core.Configuration.LogFileNamePrefixElementCT">
				<xs:annotation>
					<xs:documentation>The logfilenameprefix.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logfilelocation" type="tns:SimpleLogClient.Core.Configuration.LogFileLocationElementCT">
				<xs:annotation>
					<xs:documentation>The logfilelocation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The description.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SimpleLogClient.Core.Configuration.LoggersCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="logger" type="tns:SimpleLogClient.Core.Configuration.LoggerElementCT">
				<xs:annotation>
					<xs:documentation>The LoggerElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SimpleLogClient.Core.Configuration.TraceLevelElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SimpleLogClient.Core.Configuration.LogFileLocationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SimpleLogClient.Core.Configuration.LogFileNamePrefixElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SimpleLogClient.Core.Configuration.DefaultLoggerElementCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="tracelevel" type="tns:SimpleLogClient.Core.Configuration.TraceLevelElementCT">
				<xs:annotation>
					<xs:documentation>The tracelevel.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logfilenameprefix" type="tns:SimpleLogClient.Core.Configuration.LogFileNamePrefixElementCT">
				<xs:annotation>
					<xs:documentation>The logfilenameprefix.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="logfilelocation" type="tns:SimpleLogClient.Core.Configuration.LogFileLocationElementCT">
				<xs:annotation>
					<xs:documentation>The logfilelocation.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="description" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The description.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
